body {
    background-color: lightgray;    
}

p {
    color: black;
    background: bisque;
    display: block; /* block, inline, inline-block, none */

    width: 200px;
    border: 2px solid black;
    padding: 10px;

    box-sizing: content-box;
}