h1 {
    color: blue;
    text-decoration: underline;
}

p {
    columns: black;
}


@media (max-width:900px) {
    h1 {
        color: red;
    }

    p{
        color: green;
    }
}

@media (max-width: 700px) {
    h1{
        color: green;
    }
}